<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="theme/font-awesome.css">
  <style type="text/css">
    {{{style}}}
  </style>
</head>
<body>
  {{{slideshow}}}
  {{#metadata}}
  <img src="{{logo}}" alt="MySam logo" class="logo">
  {{/metadata}}
  <script type="text/javascript">
    {{{script}}}
  </script>
</body>
</html>